<h1>Dodaj rezerwację</h1>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div>
        <label>Wybierz datę zameldowania</label>
        <input type="date"
        formControlName="checkInDate"
        >
        <div *ngIf="reservationForm.get('checkInDate')?.invalid && (reservationForm.get('checkInDate')?.touched || reservationForm.get('checkInDate')?.dirty)">
            <small class="error">Musisz podać datę zameldowania.</small>
        </div>
    </div>

    <div>
        <label>Wybierz datę wymeldowania</label>
        <input type="date"
        formControlName="checkOutDate"
        >
    </div>

    <div>
        <label>Podaj imię i nazwisko</label>
        <input 
        formControlName="name"
        type="text"

        >
        <div *ngIf="reservationForm.get('name')?.invalid && (reservationForm.get('name')?.touched || reservationForm.get('name')?.dirty)">
            <small class="error">Musisz podać swoje imię i nazwisko</small>
        </div>
    </div>

    <div>
        <label>Podaj email</label>
        <input 
        formControlName="email"
        type="text"
        >
    </div>

    
    <div>
        <label>Podaj numer pokoju</label>
        <input 
        formControlName="room"
        type="number"
        >
    </div>
        
    <button type="submit" 
    >
    Zarezerwuj</button>
</form>